*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0f172a;
    color:#fff;
}

.container{
    width:90%;
    max-width:1000px;
    margin:50px auto;
}

h1{
    text-align:center;
    margin-bottom:40px;
}

.card{
    background:#1e293b;
    padding:20px;
    margin:20px 0;
    border-radius:12px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card a{
    display:inline-block;
    margin-top:15px;
    text-decoration:none;
    background:#2563eb;
    color:white;
    padding:10px 18px;
    border-radius:8px;
}